<div class="products">
  <h2>Products List</h2>
  <ul>
    @for (product of products; track $index) {
    <!-- <li>{{ product.ProductName }} - {{ product.AvailablePieces }} in stock</li> -->
    <li [ngClass]="{'low-stock': highlightLowStock(product)}">
      {{ product.ProductName }} - @if (editingProductId !== product.id) {
      {{ product.AvailablePieces }} in stock } @if (editingProductId ===
      product.id) {
      <input type="number" [(ngModel)]="product.AvailablePieces" />
      }

      <button
        (click)="
          editingProductId === product.id
            ? updateProductQuantity(product.id, product.AvailablePieces)
            : toggleEdit(product.id)
        "
      >
        {{ editingProductId === product.id ? "Update" : "Edit" }}
      </button>
    </li>
    }
  </ul>
</div>
